{% extends "pages/master_principal.html" %}
{% block title %} RECUPERAR CONTRASEÑA {% endblock %}
{% block contenido %}
<div>
    <center>
        <h2 class="mx-auto my-0 text-uppercase justify-content-xl-center">Procesamiento de Lenguaje Natural</h2>
        <h3 class="mx-auto my-0 text-uppercase justify-content-xl-center">Recuperar contraseña</h3>
        <hr>
    </center>
</div>
<form action="" method="post">{% csrf_token %}
    {% if form.email.errors %} {{ form.email.errors }} {% endif %}
        <h4 class="mx-auto my-0 text-uppercase justify-content-xl-center">Correo</h4>
        <p>Por favor ingrese el correo con el que se registro</p>
        <p>{{ form.email }}</p>
    <input type="submit" class="btn btn-success" value="Restablecer contraseña" />
</form>

{% endblock %}