{% extends "pages/master_principal.html" %}
{% block title %} INICIO DE SESIÓN {% endblock %}
{% block contenido %}
    <h1>Se ha enviado su restrablecimiento de contraseña</h1>
    <p>Le hemos enviado instrucciones por correo electrónico para establecer su contraseña, si existe una cuenta con el correo electrónico que ingresó. Debería recibirlo en breve.<br>Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y verifique su carpeta de correo no deseado.</p>
{% endblock %}