{% extends "pages/master_principal.html" %}
{% block title %} Procesamiento de Lenguaje Natural - Nosotros {% endblock %}
{% block contenido %}
    <h1 class="mx-auto my-0 text-uppercase justify-content-xl-center">Procesamiento de Lenguaje Natural</h1>
    <pre>
        <h6 class="mx-auto my-0 text-uppercase">
            Tomando en conjunto el ámbito educativo y ocupacional,en un país como Colombia, en el cual
            el 22,1% de los asalariados desean cambiar de empleo, según un informe de observatorio laboral
            de la Universidad del Rosario, es válido afirmar que en su mayoría se debe a la inconformidad
            de los trabajadores de acuerdo a su trabajo, ya que no se desempeñan en un ámbito que se adecue
            a sus conocimientos; esto porque en gran parte su desarrollo educativo suele ser diferente a la
            oferta laboral.
            Es por esto que se desarrolló un aplicativo web, con el fin de mostrar al usuario perfiles
            ocupacionales semejantes a su búsqueda, que tenga un mayor porcentaje de coincidencia con los
            perfiles ocupacionales de distintas universidades. Incorporando de igual forma un control sobre
            los perfiles inscritos, a lo cual el usuario tiene acceso en dicha plataforma. </h6>
    </pre>
{% endblock %}