{% extends "usuario/master_usuario.html" %}
{% block title %} Procesamiento de Lenguaje Natural {% endblock %}
{% block subtitle %} Procesamiento de Lenguaje Natural {% endblock %}
{% block contenido %}
    <h1 class="mx-auto my-0 text-uppercase justify-content-xl-center">Procesamiento de Lenguaje Natural</h1>
    <pre>
        <h3 class="mx-auto my-0 text-uppercase align-content-center">Universidad de Cundinamarca - Extensión Facatativá</h3>
        <h3 class="mx-auto my-0 text-uppercase">Ingeniería de Sistemas</h3>
    </pre>
{% endblock %}