<form method="get">

    <div class="mb-2">
            <label for="" class="form-label">Buscar por:</label>
            <select name="filtro" >
                <option value="1">Universidad</option>
                <option value="2">Programa académico</option>
                <option value="3">Perfil Ocupacional</option>
            </select>
            <input type="text" class="form-control" name="busqueda"
                aria-describedby="helpId" required />
    </div>
    <input name="" id="" class="btn btn-success" type="submit" value="Buscar">
</form>