{% extends "admin/master_admin.html" %}
{% block title %} PERFILES OCUPACIONES {% endblock %}
{% block contenido %}

     <div class="card">

        <div class="card-body">
            {% if cont == 1 %}
                <h1 class="card-title">POR EL MOMENTO NO SE HAN REALIZADO BÚSQUEDA</h1>
            {% endif %}
            {% if cont == 0%}
                <h4 class="card-title">Histórico</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>BÚsqueda</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for perfiles in lista_perfiles  %}
                        <tr>
                               <td>{{ perfiles.busqueda }}</td>
                                <td>
                                    <a name="" id="" class="btn btn-warning" href="{% url 'usersAuth:index_historico_resultado' perfiles.id %}"  role="button">VER RESULTADOS</a>
                                    <hr>
                                </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
