{% extends "admin/master_admin.html" %}
{% block title %} PERFILES OCUPACIONES {% endblock %}
{% block contenido %}

     <div class="card">
     {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                {{ message }}
            </li>
            {% endfor %}
        </ul>
    {% endif %}
        <div class="card-header">
            <p class="lead">
                <a class="btn btn-success btn-lg" href="{% url 'usersAuth:crear_perfil' %}" role="button">Registrar Perfil</a>
            </p>
        </div>
        <div class="card-body">
            {% if cont == 1 %}
                <h1 class="card-title">POR EL MOMENTO NO HAY REGISTRADO NINGÚN PERFIL</h1>
            {% endif %}
            {% if cont == 0%}
                <h4 class="card-title">Perfiles Ocupacionales</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Universidad</th>
                            <th>Programa</th>
                            <th>Perfil</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for perfiles in lista_perfiles  %}
                        <tr>
                               <td>{{ perfiles.universidad }}</td>
                                <td>{{ perfiles.programa }}</td>
                                <td>{{ perfiles.perfil }}</td>
                                <td>
                                    <a name="" id="" class="btn btn-warning" href="{% url 'usersAuth:index_editar_perfil' perfiles.id %}"  role="button">Editar</a>
                                    <hr>
                                    <a name="" id="" class="btn btn-warning" href="{% url 'usersAuth:inhabilitar_perfil' perfiles.id %}" onclick="return confirm('¿Está seguro de inhabilitar éste perfil?')"; role="button">Inhabilitar</a>
                                </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
